<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<link rel="stylesheet" type="text/css" href="style.css">
		<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
		<title>
			NYC Public High School Data Visualization Tool 
		</title>
		<script type="text/javascript" src="http://www.google.com/jsapi"></script>
	</head>
	<body>
		
		<div id="banner">
			<h1 id="title"> NYC Public High School Data Visualization Tool </h1>
			
		</div>
		<img id="mirror"/>
		<div id="menu">	
			<a href='about.html' class="classname"> About </a>
			<a href='test.html' class="classname"> Charts</a>
			<a href='test.html' class="classname"> Schools</a>
		</div>
		<div id="about">
			<h2>Feature Concept</h2>
			<p>This web application aims to aid students in this endeavor by providing them with key statistical information
				of public schools in New York City – statistics that can help them understand factors within schools that
				potentially correlate with high SAT scores. We attempt to provide users with the ability to assess
				potential correlations between such factors and average SAT scores. In doing so, the feature aims to
				shed light on important criteria to consider when evaluating a school’s ability to prepare students for
				the SAT1.<p>
				<h2>Members</h2>
				<p>Kobi Acquay<p>
					<p>Jennifer Li<p>
						<p>Zach Silversmith<p>
						</div>



		</body>
</html>

