<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <title>
      STATStat NYC
    </title>
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load('visualization', '1', {packages: ['table', 'columnchart']});
    </script>
    <script type="text/javascript">
      var data;
      var dataViewChart;
      var dataViewTable;
      var columnValueX;
      var columnValueY;
      var nameX;
      var nameY;
      var options_table = {'showRowNumber': true};
      var chart;
      var options_chart = {'logScale': false};
      var query = new google.visualization.Query('https://docs.google.com/spreadsheet/pub?key=0AqApqrIj0J-EdFRmV0RHQUFydk9mSzFMQ1hpNGE3aHc&output=html');
      
      function sendAndDraw() {
      // Send the query with a callback function.
      query.send(handleQueryResponse);
    }
    
      function handleQueryResponse(response) {
      if (response.isError()) {
        alert('Error in query: ' + response.getMessage() + ' ' + response.getDetailedMessage());
        return;
      }
      data = response.getDataTable();
      dataTable = new google.visualization.Table(document.getElementById('table'));
      drawVisualization(data);
      //dataTable.draw(data, {'showRowNumber': true});
    }
    
      function drawVisualization(data) {
        //selects portion of data table to display 
        columnValueX = 19;
        columnValueY = 14;
        var formatTable = new google.visualization.PatternFormat('<a href="/schools/{1}">{0}</a>');
        formatTable.format(data, [0, 1]);

        dataViewTable = new google.visualization.DataView(data);
        dataViewTable.setColumns([1, columnValueX, columnValueY]);
        dataViewChart = new google.visualization.DataView(data);
        dataViewChart.setColumns([columnValueX, columnValueY]);
      
      	options_table['page'] = 'enable';
      	options_table['pageSize'] = 10;
      	options_table['pagingSymbols'] = {prev: 'prev', next: 'next'};
      	options_table['pagingButtonsConfiguration'] = 'auto';
      	options_table['sortColumn'] = 1;
      	options_table['sortAscending'] = false;
      	
      	nameX = "Total Students";
      	nameY = "Mathematics Mean";
      	options_chart['title'] = nameY + ' vs. ' + nameX + ' Comparison';
      	options_chart['legend'] = 'none';
      	
        
        table = new google.visualization.Table(document.getElementById('table'));
        chart = new google.visualization.ScatterChart(document.getElementById('chart'));
        
        draw();
      }
      
      function draw() {
      chart.draw(dataViewChart, options_chart);
      table.draw(dataViewTable, options_table);
    }

      google.setOnLoadCallback(sendAndDraw);
     
      function setSATSection(value, name) {
        if(value != 'select'){
        columnValueY = parseInt(value);
        nameY = name;
      	dataViewChart.setColumns([columnValueX, columnValueY]);
      	dataViewTable.setColumns([1, columnValueX, columnValueY]);
        options_chart['title'] = nameX + " vs. " + nameY + " Comparison";
        draw();
        }
    }
      
      function setAP(value, name) {
        if(value != 'select'){
        columnValueY = parseInt(value);
        nameY = name;
      	dataViewChart.setColumns([columnValueX, columnValueY]);
      	dataViewTable.setColumns([1, columnValueX, columnValueY]);
        options_chart['title'] = nameX + " vs. " + nameY + " Comparison";
        draw();
    	}
    }
      
      function setMetric(value, name) {
      if(value != 'select'){
      columnValueX = parseInt(value);
      nameX = name;
      //document.write(columnValueX);
      dataViewChart.setColumns([columnValueX, columnValueY]);
      dataViewTable.setColumns([1, columnValueX, columnValueY]);
      options_chart['title'] = nameX + " vs. " + nameY + " Comparison";
      draw();
      }
    }
     
      function setRegion(city){
      	if(city != 'ALL REGIONS'){
      		query.setQuery("select * where F = '" + city +"'");
      		query.send(handleQueryResponseRegion);
      	}else{
      		query.setQuery("select *");
      		query.send(handleQueryResponseRegion);
      	}
      }
      
     
	
	function handleQueryResponseRegion(response) {
      if (response.isError()) {
        alert('Error in query: ' + response.getMessage() + ' ' + response.getDetailedMessage());
        return;
      }
      	var dataRegion = response.getDataTable();
      	dataViewChart = new google.visualization.DataView(dataRegion);
      	dataViewChart.setColumns([columnValueX, columnValueY]);
      	dataViewTable = new google.visualization.DataView(dataRegion);
      	dataViewTable.setColumns([1, columnValueX, columnValueY]);
      	draw();
    }
    
    
    </script>
  </head>
  <body style="font-family: Arial;border: 0 none;">
  	
	<div id="header">
		<h1>SATStat NYC </h1>
		<div id="headerbackground"></div>
	</div>
	<div id="visualizations">
	<div id="menu">	
			<a href='/about' class="classname"> About </a>
			<a href='/' class="classname"> Charts</a>
			<a href='/regions' class="classname"> Schools</a>
		</div>
	
   <h2>Chart Visualization</h2> 
<div id="filter" ">
<span id="configure"> Configure</span>
 <form action="">
    <p><label>Select SAT Section (Y-Axis): </label>
    <select id='query-1' onchange='setSATSection(this.value, this.options[this.selectedIndex].innerHTML)'>
      <option value='14'>Math</option>
      <option value='13'>Critical Reading</option>
      <option value='15'>Writing</option>
    </select></p>
  
    
    <p><label>Select Metric (X-Axis): </label>
    <select id='query-1' onchange='setMetric(this.value, this.options[this.selectedIndex].innerHTML)'>
      <option value='19'>Total Students</option>
      <option value='20'>Total Male Students</option>
      <option value='21'>% Male Students</option>
      <option value='22'>Total Female Students</option>
      <option value='23'>% Female Students</option>
      <option value='24'>Total American Indian Students</option>
      <option value='25'>% American Indian Students</option>
      <option value='26'>Total Asian Students</option>
      <option value='27'>% Asian Students</option>
      <option value='28'>Total Black Students</option>
      <option value='29'>% Black Students</option>
      <option value='30'>Total Hispanic Students</option>
      <option value='31'>% Hispanic Students</option>
      <option value='32'>Total White Students</option>
      <option value='33'>% White Students</option>
      <option value='34'>Student Faculty Ratio</option>
      <option value='35'>Total Full Time Teachers</option>
    </select></p>
    
    <p><label>Filter by Region:</label>
    <select id='query-1' onchange='setRegion(this.value)'>
    	<option value='ALL REGIONS'>All Regions</options>
    	<option value='BAYSIDE'>Bayside</option>
   		<option value='BELLMORE'>Bellmore</option>
   		<option value='BRONX'>Bronx</option>
   		<option value='BROOKLYN'>Brooklyn</option>
   		<option value='CAMBRIA HEIGHTS'>Cambria Heights</option>
   		<option value='CORONA'>Corona</option>
   		<option value='CROSS RIVER'>Cross River</option>
   		<option value='ELMHURST'>Elmhurst</option>
   		<option value='FAR ROCKAWAY'>Far Rockaway</option>
   		<option value='FLUSHING'>Flushing</option>
   		<option value='FOREST HILLS'>Forest Hills</option>
   		<option value ='FRESH MEADOWS'>Fresh Meadows</option>
   		<option value='JAMAICA'>Jamaica</option>
		<option value='LONG ISLAND CITY'>Long Island City</option>
   		<option value='MANHATTAN'>Manhattan</option>
   		<option value='NEW YORK'>New York</option>
   		<option value='OZONE PARK'>Ozone Park</option>
   		<option value='QUEENS VILLAGE'>Queens Village</option>
   		<option value='RICHMOND'>Richmond Hill</option>
   		<option value='ROCKAWAY PARK'>Rockaway Park</option>
   		<option value='SAINT ALBANS'>Saint Albans</option>
		<option value='SPRINGFIELD GARDEN'>Springfield Gardens</option>
   		<option value='STATEN ISLAND'>Staten Island</option>
    </select></p>
    <p><a href="#table">View Data as Table</a></p>

</form>
</div>
<div id="chart"></div>
    <br />
<br/>
    <h2>School Data</h2>
    <div id="table"></div>
</div>
  </body>
</html>
​