<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map_canvas { height: 100% }
    </style>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBbey5D52yTuHcqPRM-pJ91n5dPsoVqv3U&sensor=false">
    </script>
    <script type="text/javascript">
      function initialize() {
        var mapOptions = {
          center: new google.maps.LatLng({{ location_data["center"]["latitude"] }}, {{ location_data["center"]["longitude"] }}),
          zoom: 12,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("map_canvas"),
            mapOptions);
		
		{% for location in location_data["locations"] %}
		marker = new google.maps.Marker({
			position: new google.maps.LatLng({{ location["latitude"] }}, {{ location["longitude"] }}),
			map: map,
			title: {{ location["name"] }}
		});
		{% end %}
      }
	  
	  
    </script>
  </head>
  <body onload="initialize()">
    <div id="map_canvas" style="width:100%; height:100%"></div>
  </body>
</html>

<!--
Sample request body:
{
  "locations": [
     {"latitude": 40.718542, "longitude": -74.014102, "name": "\"Stuyvesant\"" },
{"latitude": 40.71433, "longitude": -74.010111, "name": "\"Random Point\""}

]
}
-->
