<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <title>
      STATStat NYC
    </title>
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script type="text/javascript">
     google.load('visualization', '1', {packages: ['table', 'columnchart']});
    </script>
    <script type="text/javascript">
    function region(region){
    	document.write(region);
    }
    </script>
  </head>
  <body style="font-family: Arial;border: 0 none;">
  	<div id="header">
		<h1>SATStat NYC </h1>
		<div id="headerbackground"></div>
	</div>
	<div id="visualizations">
	<div id="menu">	
			<a href='/about' class="classname"> About </a>
			<a href='/' class="classname"> Charts</a>
			<a href='/Schools' class="classname"> Schools</a>
		</div>
	
   <h2>Browse Schools</h2>
   <p>Select a Region:</p>
   
   <form action="">
   		<table>
   		<tr>
   			<td><a href="REGIONS/BAYSIDE" onclick='region("BAYSIDE")'>Bayside</a></td>
   			<td><a href="REGIONS/BELLMORE" onclick='region("BELLMORE")'>Bellmore</a></td>
   			<td><a href="REGIONS/BRONX" onclick='region("BRONX")'>Bronx</a></td>
   			<td><a href="REGIONS/BROOKLYN" onclick='region("BROOKLYN")'>Brooklyn</a></td>
   		</tr>
   		<tr>
   			<td><a href="REGIONS/CAMBRIA_HEIGHTS" onclick='region("CAMBRIA HEIGHTS")'>Cambria Heights</a></td>
   			<td><a href="REGIONS/CORONA" onclick='region("CORONA")'>Corona</a></td>
   			<td><a href="REGIONS/CROSS_RIVER" onclick='region("CROSS RIVER")'>Cross River</a></td>
   			<td><a href="REGIONS/ELMHURST" onclick='region("ELMHURST")'>Elmhurst</a></td>
   		</tr>
   		<tr>
   			<td><a href="REGIONS/FAR_ROCKAWAY" onclick='region("FAR ROCKAWAY")'>Far Rockaway</a></td>
   			<td><a href="REGIONS/FLUSHING" onclick='region("FLUSHING")'>Flushing</a></td>
   			<td><a href="REGIONS/FOREST_HILLS" onclick='region("FOREST HILLS")'>Forest Hills</a></td>
   			<td><a href="REGIONS/FRESH_MEADOWS" onclick='region("FRESH MEADOWS")'>Fresh Meadows</a></td>
   		</tr>
   		<tr>
   			<td><a href="REGIONS/JAMAICA" onclick='region("JAMAICA")'>Jamaica</a></td>
   			<td><a href="REGIONS/LONG_ISLAND_CITY" onclick='region("LONG ISLAND CITY")'>Long Island City</a></td>
   			<td><a href="REGIONS/MANHATTAN" onclick='region("MANHATTAN")'>Manhattan</a></td>
   			<td><a href="REGIONS/NEW_YORK" onclick='region("NEW YORK")'>New York</a></td>
   		</tr>
   		<tr>
   			<td><a href="REGIONS/OZONE_PARK" onclick='region("OZONE PARK")'>Ozone Park</a></td>
   			<td><a href="REGIONS/QUEENS_VILLAGE" onclick='region("QUEENS VILLAGE")'>Queens Village</a></td>
   			<td><a href="REGIONS/RICHMOND_HILL" onclick='region("RICHMOND")'>Richmond Hill</a></td>
   			<td><a href="REGIONS/ROCKAWAY_PARK" onclick='region("ROCKAWAY PARK")'>Rockaway Park</a></td>
   		</tr>
   		<tr>
   			<td><a href="REGIONS/SAINT_ALBANS" onclick='region("SAINT ALBANS")'>Saint Albans</a></td>
   			<td><a href="REGIONS/SPRINGFIELD_GARDENS" onclick='region("SPRINGFIELD GARDEN")'>Springfield Gardens</a></td>
   			<td><a href="REGIONS/STATEN_ISLAND" onclick='region("STATEN ISLAND")'>Staten Island</a></td>
   		</tr>
   		</table>
   </form>
  </body>
</html>